

@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');

.app {
  max-width: 80rem;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  background-color: white;
  

  .lang_btn {
    padding: 0.5rem 2rem;
    // border: 1px solid rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    }


  .section {    
    min-height: 1px;
    min-width: 1px;
    margin: 0;
    header{
      width: 23rem;
      margin: 0 auto;
    }
   
  }


  .img-left{
    width: 10rem;
  }

  .main{
    flex-grow: 1;
    text-align: center;
    margin-left: 2rem;

  }

  .img-right{
    width: 18rem;
   
  }
  

  @media (max-width:860px){
      .img-left{
        display: none;
      }
      .main{
        flex-grow: 1;
        position: relative; 
        text-align: center;
        margin: 0 auto;
        z-index: 20;
        margin-top: 0px;
        background-image: url('/images/projects/dao/dao_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      .img-right{
        display: none;
      }
      .section {    
        min-height: 1px;
        min-width: 1px;
        margin: 0;
        header{
          width: 18rem;
          margin: 0 auto;
        }
       
      }
    
      h1{
        display: block;
        font-size: 1.1em;
      }
      h3 {
        display: block;
        font-size: 0.8em;
    }
    }
}